@charset "UTF-8";

$color-black: #333;
$color-white: #fff;
$color-gray: #b2b2b2;
$color-gray-dark: #808080;
$color-red: #fe5040;
$color-blue: #009aff;
$color-green: #76b600;

$color-border: #edeff0;
$color-bg: #f7f9fa;

$color-red-begin: #fe5747;
$color-red-end: #fb5762;
$color-blue-begin: #00deff;
$color-blue-end: #00c6ff;